{% extends 'base.html' %}

{% block title %}projects{% endblock %}

{% block content %}

<div class="row">

  <div class="col-sm-10 col-12">

    <h2 class="mt-4">Projects</h2>

  

    <div>
  </div>
  <div>
      <p>
        <a href="/projects/new" class="btn btn-success">
          Add a Project
        </a>
      </p>

    <ul>
      {% for project in projects %}

      <li>
        <a href="/projects/{{project.id}}">{{ project.name }}</a>

      </li>

      <form>
        {% if g.user %}

        <button class="btn btn-primary"
                formmethod="GET"
                formaction="/projects/{{project.id}}/edit">Edit</button>
        <button class="btn btn-danger"
                formmethod="POST"
                formaction="/projects/{{project.id}}/delete">Delete</button>
      </form>
      {% endif %}
      {% endfor %}
    </ul>

 
</div>

{% endblock %}