{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid text-center text-success bg-light rounded py-4">
  <div class="container">
    <h1 class="display-4">Welcome to <span class="brandname">The Green Chef</span> </h1>
    {% if not g.user %}
    <p class="lead">Are you a vegan or vegetarian who loves cooking? You've come to the right place! Here you can:
      <ul class="welcome-list">
        <li><b>Search from over 300,000 recipes with visualized ingredients, taste and nutrition</b></li>
        <li><b>Save your favorite recipes,create your own recipe cards to share with others</b></li>
  {% else %}
  <form data-id="{{ g.user.username }}" class="form-inline my-2 justify-content-center flex-nowrap mx-lg-auto"
  id="search-form" action="/recipes">
  
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" name="query">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="submit">
        <i class="fa fa-search"></i>
      </button> 
    </div>
  
</form>
  {% endif %}
  </div>
</div>

{% endblock %}