{% extends 'base.html' %}
{% block title %}recipes{% endblock %}

{% block content %}

{% for recipe in recipes %}
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="card border mb-4 mx-auto p-2 rounded text-center">
      <a href="{{url_for('show_recipe_details',id=recipe.id) }}"class="card-link">
        <img src=" https://spoonacular.com/recipeImages/{{recipe.id}}-556x370.jpg" class="card-img-top img-fluid" alt="photo for {{recipe.title}}">
        <div class="card-body py-2">
          <h5 class="card-title d-inline"> {{recipe.title}}</h5>
          <button data-id={{recipe.id}} class="btn btn-sm"><span><i class=" fas fa-heart"></i></span></button>
          <p class="lead mb-0">Ready in:{{recipe.readyInMinutes}} mins</p>
          <p class="lead">Servings: {{recipe.servings}}</p>
        </div>
      </a>
    </div>
  </div>
</div>

{% endfor %}


{% endblock %}