{% extends 'base.html' %}

{% block title %}{{user.full_name}}{% endblock %}

{% block content %}
<h3>Your Profile</h3>
<p>Username: {{user.username}}</p>

<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>


<form>
    <button class="btn btn-primary"formaction="/users/{{g.user.username}}/edit">Edit</button>
    <button class="btn btn-danger" formmethod="POST" formaction="/users/{{g.user.username}}/delete">Delete</button>
</form>

{% endblock %}