{% extends 'base.html' %}

{% block title %}{{user.full_name}}{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar- bg-light">
    {% if g.user %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/{{username}}">Profile</a></li>
      {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/{{username}}/posts">Posts</a>
           
        <li class="nav-item">
            <a class="nav-link" href="/user/{{username}}/resources">Resources</a>
         
    </nav>
<h1>Welcome to My Coding Buddies</h1>
<ul>
    <li>Why is this site created?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi in placeat rem, maiores incidunt ad delectus facilis iusto dicta et provident, fugit laborum. Aut eligendi nihil nulla exercitationem obcaecati optio.</p>
    <li>Who benefit from this site?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatem atque excepturi, eos adipisci eum omnis voluptatibus, sapiente aspernatur cumque nisi consectetur ea animi! Porro accusamus nulla omnis optio sapiente!</p>
    <li>How to use this site?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus officiis ea rem minus! Unde consequuntur quidem incidunt animi, praesentium assumenda quos vero officiis in expedita mollitia! Inventore, numquam cumque.</p>
    
</ul>

{% endblock %}