{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar- bg-light">
    {% if g.user %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/{{g.user.username}}">{{g.user.username}}</a></li>
      {% endif %}
    </ul>
</nav>

  
 
<h1>Welcome to Coding Collabs</h1>
<ul>
    <li>Why is this site created?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi in placeat rem, maiores incidunt ad delectus facilis iusto dicta et provident, fugit laborum. Aut eligendi nihil nulla exercitationem obcaecati optio.</p>
    <li>Who benefit from this site?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatem atque excepturi, eos adipisci eum omnis voluptatibus, sapiente aspernatur cumque nisi consectetur ea animi! Porro accusamus nulla omnis optio sapiente!</p>
    <li>How to use this site?</li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus officiis ea rem minus! Unde consequuntur quidem incidunt animi, praesentium assumenda quos vero officiis in expedita mollitia! Inventore, numquam cumque.</p>
    
</ul> 

{% endblock %}