{% extends 'base.html' %}

{% block body %}homepage{% endblock %}

{% block content %}
<h1>Welcome to NASA Project</h1>
<h2>Instructions:</h2>
<ul>
    <li>Objective: Conduct a research to learn more about the solar system from NASA resources.[total points: 50; Due: 12/12/2020</li>
    <li>Step 1: Click <a href="https://solarsystem.nasa.gov/solar-system/our-solar-system/overview/">Here</a> to choose a planet that you find interesting.</li>
    <li>Step 2: Make a post of your research <a href="/posts/new">here </a>(at least 150 words).</li>
    <li>Step 3: Add a image from the search bar on top right to the post to illustrate your research topic.</li>
    <li>Step 4: Submit your post.</li>
    <li>Step 4: Reply to 2 posts from your classmates (at least 50 words)</li>
</ul>
{% endblock %}