
{% extends 'base.html' %}

{% block title %} {{ task.title }}{% endblock %}

{% block content %}
<h2>Task Details</h2>
  <ul>
    <li>Task Name: {{task.title}}</li>
    <li>Date Created: {{task.friendly_date}}</li>
    <li>Details: {{task.notes}}</li>
    <li>Status: {{task.status}}</li>
  </ul>
  
  <form>
  <a href="/projects/{{project.id}}/tasks" class="btn btn-primary">Go Back</a>

    <button class="btn btn-info"formmethod="GET" formaction="/projects/{{project.id}}/tasks/{{task.task_id}}/edit">Edit</button>
    <button class="btn btn-danger" formmethod="POST" formaction="/projects/{{project.id}}/tasks/{{task.task_id}}/delete">Delete</button> 
  </form>

{% endblock %}